@charset "UTF-8";

.park-banner-party{
    position:relative;
    padding-top:30px;
    height:156px;
    background:url(../images/top_banner.jpg) left bottom no-repeat;
}

.park-banner-party p{
    position: absolute;
    left:129px;
    bottom: 44px;
    font-size:22px;
    color:#333;
}

.party-banner{
    border-top:1px solid #E5E5E5;
    border-bottom: 3px solid #E5E5E5;
}

.party-list{
    margin-top:40px;
    margin-bottom:20px;
}

.party-list-item{
    overflow: hidden;
    padding:20px 10px;
    border-bottom:1px solid #F1F1F1;
}

.party-list-item:hover{
    background-color: #F7F7F7;
}

.party-list .party-list-item{
    display:block;
    color:#333;
}

.party-list-item-main{
    margin-left:10px;
}

.party-list-item-title{
    font-size:18px;
    font-weight:bold;
    line-height:100%;
}

.party-list-item-desc{
    padding-top:10px;
    padding-left:6px;
}

.party-list-status{
    font-size:11px;
    font-family: "SimSun", "宋体";
    padding-left:6px;
}

.party-status-enable{
    position:relative;
    padding:5px 10px;
    background-color: #FF3333;
    color:#fff;
}

.party-status-disable{
    position:relative;
    padding:5px 10px;
    background-color: #D8D8D8;
    color:#999999;
}

.party-contact-main{
    font-family: "SimSun", "宋体";
    line-height:35px;
}

.party-contact-main .text-label{
    font-size:14px;
    font-weight:bold;
    color:#000;
}

.party-contact-main .text-content{
    font-size:14px;
    color:#5B5B5B;
}

.party-contact-main .text-content a{
    color:#4D97EF;
}

.party-contact-main .text-content a:hover{
    text-decoration: underline;
}

.party-list-contact{
    margin-top:10px;
    margin-bottom:100px;
}

.party-list-contact .w{
    padding:20px 30px;
    border-bottom:5px solid #333;
    background-color: #F8F8F8;
}
