<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="#"/>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="stylesheet" href="../static/css/myaccount.css">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
</head>
<body>
<header>
    <div class="top-nav">
        <div class="w">
            <div class="left-area">
                <div class="logo"><a href="#"></a></div>
                <ul class="nav">
                    <li><a href="/myaccount">个人主页</a></li>
                    <li><a href="/getDaters?sex=女">遇见</a></li>
                    <li><a href="#">通知</a></li>
                    <li><a href="/logout">退出</a></li>
                    <li class="current"><a href="/myaccount">ta的主页</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

</header>
<div class="profile-mainbox profile-female clearfix">
    <div class="w clearfix">
        <div class="profile-basic-avatar fl">
            <div class="user-avatar">
                <img th:src="@{../static/images/myaccount/{photo}(photo=${session.visitUser.photo})}" alt=""
                     th:height="240px" th:width="240px"/>
            </div>
        </div>
        <div class="profile-basic-main fl">
            <p class="user-status-bar">
                <span class="username" th:text="${session.visitUser.nickName}"></span>
                <a class="in-block credit-level-female" href="javascript:;">中信用</a>
                <a class="in-block icon-verified-mobile-female" href="javascript:;"></a>
                <span class="uid" th:text="|Id:${session.visitUser.id}|"></span>
            </p>
            <p class="profile-basic-info">
                <span class="sex" th:text="${session.visitUser.sex}"></span>
                <span class="age" th:text="|${session.visitUser.age}岁|"></span>
                <span class="cm" th:text="|TEL:${session.visitUser.telephone}|"></span>
                <span class="area"></span>
            </p>
            <!-- 该用户有标签时显示 -->
            <p class="profile-basic-tag-list clearfix">
                <span th:text="${session.visitUser.province}"></span>
                <span th:text="${session.visitUser.city}"></span>
                <span th:text="|${session.visitUser.weight}kg|"></span>
                <span th:text="|${session.visitUser.height}cm|"></span>
                <span th:text="${session.visitUser.edu}"></span>
                <span th:text="|月入${session.visitUser.salary}|"></span>
                <span>依赖心强</span>
                <span>日剧迷</span>
                <span>传统</span>
                <span>羽毛球</span>
            </p>
            <!-- 没有标签记录时的文字提示 -->
            <p class="profile-basic-tag-desc">
                暂无标签（<a href="#">回答QA</a>、<a href="#">完善资料</a>获得更多标签）<a class="icon-edit-s" href="javascript:;"
                                                                        title="编辑标签"></a>
            </p>


            <form action="/getMsg" method="get" id="sendmsg">
                <input hidden="hidden" type="text" name="fromUserName"
                       th:value="${session.userInfo.userName}"></input>
                <input hidden="hidden" type="text" name="userName"
                       th:value="${session.visitUser.userName}"></input>
                <p class="profile-basic-relation">
                    <a class="icon-mess" onclick="document.getElementById('sendmsg').submit();"><em></em><i>私信</i></a>
                    <a href="#" class="icon-fav"><em></em><i>喜欢</i></a>
                    <a href="#" class="sayhi"><em></em><i>打招呼</i></a>
                    <a href="#" class="sendgift"><em></em><i>送礼物</i></a>
                </p>
            </form>

        </div>
    </div>
    <div class="w">
        <div class="profile-header">
            <div class="monolog-box">
                <div class="profile-monolog-preview">
                    <em class="monolog-upper-arrows"></em>
                    <em class="in-block icon-quote-up hide"></em>
                    <span class="text-gray">小帅哥、小美女，快来玩呀</span>
                    <em class="in-block icon-quote-down hide"></em>
                    <span class="js-edit-btn hide"><a class="a-icon-edit" href="javascript:;"></a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-content-box ">
    <div class="w clearfix main-box">
        <div class="con-left fl">
            <div class="profile-tabbar clearfix">
                <ul>
                    <li class="trigger-trend current">写留言</li>
                    <li class="trigger-info">她的资料</li>
                </ul>
            </div>
            <div class="profile-trend-box">
                <div class="photo-info clearfix">
                    <a href="javascript:;" class="fr">
                    </a>
                </div>
                <div class="trend-js">
                    <ul>
                        <li class="clearfix">
                            <div class="trend-footer">
                                <form action="/leaveMsg" method="post" id="postmsg">
                                    <div class="right-contact-btn fr">
                                        <input placeholder="在这里留言" type="text" name="info"
                                               style="width: 460px; height: 50px"/>
                                        <input hidden="hidden" type="text" name="fromUserName"
                                               th:value="${session.userInfo.userName}"/>
                                        <input hidden="hidden" type="text" name="userName"
                                               th:value="${session.visitUser.userName}"/>
                                        <input hidden="hidden" type="text" name="fromNickName"
                                               th:value="${session.userInfo.nickName}"/>
                                        <input hidden="hidden" type="text" name="nickName"
                                               th:value="${session.visitUser.nickName}"/>
                                        <a class="icon-send-msg" onclick="document.getElementById('postmsg').submit();"><em
                                                class="icon-like native"></em></a>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="profile-trend-time-wrapper">
                                <em class="profile-time-arrowTop"></em>
                                <div class="profile-trend-time">
                                    <span class="profile-time-ym text-dark-gray">我的留言</span>
                                    <span class="profile-time-d text-red" th:text="${session.msgInfoList.size()}"></span>
                                </div>
                                <em class="profile-time-arrowBottom"></em>
                            </div>
                            <div class="dating-list-info" th:each="msginfo,iterStat : ${session.msgInfoList}">
                                <p class="dating-list-title" th:text="|${session.userInfo.nickName}：${msginfo.info}|"></p>
                                <p class="dating-detail">
                                    <em class="dating-desc"></em>
                                    <span th:text="|${session.visitUser.nickName}:${msginfo.parentInfo}|"></span>
                                </p>
                                <div class="footer-text clearfix">
                                    <h>

                                    </h>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile-info-box hide">
                <div class="lover-desc-box">
                    <h2 class="label-text">交友要求</h2>
                    <span class="js-edit-btn"><a class="a-icon-edit" href="javascript:;"></a></span>
                    <span class="js-edit-btn hide"><a class="a-cancel-edit-text" href="javascript:;">取消编辑</a></span>
                    <div class="js-info-preview">我希望你在 <span class="keyword">湖北 武汉</span> ，年龄<span class="keyword">20到31岁</span>之间
                        。以上并不是硬性要求，快来和我联系吧。
                    </div>
                    <div class="js-edit hide">
                        <p class="js-tips">
                            <span>修改交友要求将同步修改首页的搜索条件</span>
                            <em class="icon-close"></em>
                        </p>
                        <div class="form-row">
                            <label class="form-label">身高:</label>
                            <div class="form-control">
                                <select>
                                    <option value="">不限</option>
                                </select>
                                <span>到</span>
                                <select>
                                    <option value="">不限</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label">年龄:</label>
                            <div class="form-control">
                                <select>
                                    <option value="">不限</option>
                                </select>
                                <span>到</span>
                                <select>
                                    <option value="">不限</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label">学历:</label>
                            <div class="form-control">
                                <select class="js-education-select">
                                    <option value="">不限</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label">月收入:</label>
                            <div class="form-control">
                                <select>
                                    <option value="">不限</option>
                                </select>
                                <span>到</span>
                                <select>
                                    <option value="">不限</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label">居住在:</label>
                            <div class="form-control">
                                <select>
                                    <option value="">不限</option>
                                </select>
                                <span>到</span>
                                <select>
                                    <option value="">不限</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label"></label>
                            <a class="general-btn red-button submit-btn" href="javascript:;">保存</a>
                        </div>
                    </div>
                </div>
                <div class="summary-info-box">
                    <div class="member-base-info">
                        <h2 class="label-text">基本资料</h2>
                        <div class="js-info-preview">
                            <p><span class="text-gray" th:text="|昵称:${session.visitUser.nickName}|"></span></p>
                            <p><span class="text-gray" th:text="我在寻找：恋人"></span></p>
                            <p><span class="text-gray" th:text="|性别：${session.visitUser.sex}|"></span></p>
                            <p><span class="text-gray" th:text="|年龄：${session.visitUser.age}|"></span></p>
                            <p><span class="text-gray" th:text="|身高：${session.visitUser.height}|"></span></p>
                            <p><span class="text-gray" th:text="|体重：${session.visitUser.weight}kg|"></span></p>
                            <p><span class="text-gray"
                                     th:text="|居住在：${session.visitUser.province}${session.visitUser.city}|"></span></p>
                            <p><span class="text-gray" th:text="|学历：${session.visitUser.edu}|"></span></p>
                            <p><span class="text-gray" th:text="目前职位：员工"></span></p>
                            <p><span class="text-gray" th:text="|月收入：${session.visitUser.salary}元|"></span></p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="con-right fr">

            <div class="contact-us">
                <p class="top-text"><span>缘来有你相关</span></p>
                <ul class="main-info">
                    <li><span>新手上路：</span><a href="#">教你快速找到意中人</a></li>
                    <li><span>安全中心：</span><a href="#">网上交友如何防骗</a></li>
                    <li><span>花田帮助：</span><a href="#">常见反馈问题解答</a></li>
                    <li><span>联系客服：</span><a href="#">咨询客服</a><br/><span class="wrap-font">电话咨询 020-XXXXXXXX<br>( 工作日 10点 - 18点 )</span>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>
<div id="footer">
    <div class="w">
        <div class="bot">

            增值电信业务经营许可证：<a href="#">湘B2-XXXXXXXXX</a><br/>
            中南大学版权所有<br/>
            <i>©2020</i>
        </div>
    </div>
</div>

<!-- 模态框标签提示开始 -->
<div class="modal-layer hide tag-too-few-modal">
    <div class="main-box modal-layer-main-sm">
        <div class="title-row">
            <h3>我的标签</h3>
            <a class="icon-close" href="javascript:;"></a>
        </div>
        <div class="content">
            <div class="result-inner">
                <em></em>
                <div class="js-tips">
                    <p>很抱歉，你的资料过少无法提取标签</p>
                    <p>你需要继续<a href="javascript:;">回答QA</a>、或<a href="javascript:;">完善资料</a>。</p>
                </div>
            </div>
        </div>
        <div class="foot-row">
            <a class="general-btn red-button" href="javascript:;">知道了</a>
        </div>
    </div>
</div>
<!-- 模态框标签提示结束-->

<!-- 大学模态框开始 -->
<div class="modal-layer hide select-university">
    <div class="main-box modal-layer-main">
        <div class="title-row">
            <h3>选择毕业院校</h3>
            <a class="icon-close" href="javascript:;"></a>
        </div>
        <div class="js-body">
            <div class="poplayer-bd">
                <div class="poplayer-schoolbox-select">
                    <span class="select-label">请选择省市：</span>
                    <select class="js-select-province">
                        <option value="北京市">北京市</option>
                    </select>
                    <span class="select-label schoolbox-select-text">没有自己的学校？<a class="click-trigger js-switch-form"
                                                                                href="javascript:;">点击直接输入</a></span>
                    <span class="poplayer-schoolbox-select-form select-label hide">输入学校名称：
                            <input type="text" name="custom-university-name">
                            <a class="click-trigger js-form-submit" href="javascript:;">点击提交</a>
                        </span>
                </div>
                <div class="poplayer-schoolbox-list">
                    <ul class="js-list clearfix">
                        <li title="清华大学"><em class="square"></em><span>清华大学</span></li>
                        <li title="北京大学"><em class="square"></em><span>北京大学</span></li>
                        <li title="中国人民大学"><em class="square"></em><span>中国人民大学</span></li>
                        <li title="北京航空航天大学"><em class="square"></em><span>北京航空航天大学</span></li>
                        <li title="北京邮电大学"><em class="square"></em><span>北京邮电大学</span></li>
                        <li title="北京师范大学"><em class="square"></em><span>北京师范大学</span></li>
                        <li title="中国传媒大学"><em class="square"></em><span>中国传媒大学</span></li>
                        <li title="中国农业大学"><em class="square"></em><span>中国农业大学</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>