<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="#"/>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="stylesheet" href="../static/css/myaccount.css">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
</head>
<body>
<header>
    <div class="top-nav">
        <div class="w">
            <div class="left-area">
                <div class="logo"><a href="#"></a></div>
                <ul class="nav">
                    <li class="current"><a href="/myaccount">个人主页</a></li>
                    <li><a href="/getDaters?sex=女">遇见</a></li>
                    <li><a href="#">通知</a></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

</header>
<div class="profile-mainbox profile-female clearfix">
    <div class="w clearfix">
        <div class="profile-basic-avatar fl">
            <div class="user-avatar">



                    <div class="user-check"><span>非真人头像，请上传清晰美观个人照</span></div>
                    <img th:src="@{../static/images/myaccount/{photo}(photo=${session.userInfo.photo})}" alt="" th:height="240px" th:width="240px"/>
                    <p>


                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" accept="image/*">
                        <br>
                    <em class="icon-online-android"></em> <input type="submit" value="上传照片" class="btn btn-success">
                    </form>
                    </p>
                </div>
            </div>
            <div class="profile-basic-main fl">
                <p class="user-status-bar">
                    <span class="username" th:text="${session.userInfo.nickName}"></span>
                    <a class="in-block credit-level-female" href="javascript:;">中信用</a>
                    <a class="in-block icon-verified-mobile-female" href="javascript:;"></a>
                    <span class="uid" th:text="|Id:${session.userInfo.id}|"></span>
                </p>
                <p class="profile-basic-info">
                    <span class="sex" th:text="${session.userInfo.sex}" ></span>
                    <span class="age" th:text="|${session.userInfo.age}岁|"></span>
                    <span class="cm" th:text="|TEL:${session.userInfo.telephone}|"></span>
                    <span class="area" ></span>
                </p>
                <!-- 该用户有标签时显示 -->
                <p class="profile-basic-tag-list clearfix">
                    <span th:text="${session.userInfo.province}"></span>
                    <span th:text="${session.userInfo.city}"></span>
                    <span th:text="|${session.userInfo.weight}kg|"></span>
                    <span th:text="|${session.userInfo.height}cm|"></span>
                    <span th:text="${session.userInfo.edu}"></span>
                    <span th:text="|月入${session.userInfo.salary}|"></span>
                    <span>依赖心强</span>
                    <span>日剧迷</span>
                    <span>传统</span>
                    <span>羽毛球</span>
                </p>

                <!-- 没有标签记录时的文字提示 -->
                <p class="profile-basic-tag-desc">
                    暂无标签（<a href="#">回答QA</a>、<a href="#">完善资料</a>获得更多标签）<a class="icon-edit-s" href="javascript:;" title="编辑标签"></a>
                </p>
                <br/>
                <div class="profile-basic-main fl">

                    <p class="profile-basic-relation">
                        <a href="javascript:;" class="icon-mess"><em></em><i>私信</i></a>
                        <a href="#" class="icon-fav"><em></em><i>喜欢</i></a>
                        <a href="#" class="sayhi"><em></em><i>打招呼</i></a>
                        <a href="#" class="sendgift"><em></em><i>送礼物</i></a>

                    </p>
                </div>

            </div>
        </div>

    </div>
    <div class="w">
        <div class="profile-header">
            <div class="monolog-box">
                <div class="profile-monolog-preview">
                    <em class="monolog-upper-arrows"></em>
                    <em class="in-block icon-quote-up hide"></em>
                    <span class="text-gray">今天我生日，希望能遇到那个合适的他，<i class="icon-noresult-s"></i></span>
                    <em class="in-block icon-quote-down hide"></em>
                    <span class="js-edit-btn hide"><a class="a-icon-edit" href="javascript:;"></a></span>
                </div>
                <div class="profile-monolog-edit-hd hide">
                    <h3>内心独白</h3>
                    <span class="profile-monolog-tips">一天内只可修改一次</span>
                    <span class="js-edit-btn hide"><a class="a-cancel-edit-text" href="javascript:;">取消编辑</a></span>
                </div>
                <div class="profile-monolog-textarea hide ">
                    <textarea></textarea>
                </div>
                <div class="profile-monolog-edit-send hide">
                    <div class="js-body">
                        <span class="char-constantia"><strong>147</strong>个字</span>
                        <a class="red-button" href="javascript:;">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-content-box ">
    <div class="w clearfix main-box">
        <div class="con-left fl">
            <div class="profile-tabbar clearfix">
                <ul>
                    <li class="trigger-trend current">她的动态</li>
                    <li class="trigger-info">她的资料</li>
                </ul>
            </div>
            <div class="profile-trend-box">
                <div class="photo-info clearfix">
                    <a href="javascript:;" class="fr">
                        <em class="photo-trigger"></em>
                        <span>她的相册<strong>16</strong></span>
                    </a>
                </div>
                <div class="trend-js">
                    <ul>
                        <li class="clearfix">
                            <div class="profile-trend-time-wrapper">
                                <em class="profile-time-arrowTop"></em>
                                <div class="profile-trend-time">
                                    <span class="profile-time-ym text-dark-gray">2018-2</span>
                                    <span class="profile-time-d text-red">10</span>
                                </div>
                                <em class="profile-time-arrowBottom"></em>
                            </div>
                            <div class="trend-item-title">上传了头像</div>

                            <div class="photo-media">
                                <a href="javascript:;"><img src="../static/images/myaccount/anonymous.jpg" alt=""></a>
                                <a href="javascript:;"><img src="../static/images/myaccount/anonymous.jpg" alt=""></a>
                            </div>

                            <div class="trend-footer">
                                <div class="media-info fl">
                                    <em class="in-block trend-publish-time"></em>
                                    <span>
                                            12-15 来自
                                            <a href="#">Android客户端</a>
                                        </span>
                                </div>
                                <div class="right-contact-btn fr">
                                    <a class="" href="#"><em class="icon-like native"></em><b class="likes">+10</b></a>
                                    <a class="icon-send-msg" href="#"><em class="icon-like native"></em></a>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="profile-trend-time-wrapper">
                                <em class="profile-time-arrowTop"></em>
                                <div class="profile-trend-time">
                                    <span class="profile-time-ym text-dark-gray">2018-2</span>
                                    <span class="profile-time-d text-red">10</span>
                                </div>
                                <em class="profile-time-arrowBottom"></em>
                            </div>
                            <div class="dating-list-info">
                                <p class="dating-list-title">发布了逛街约会</p>
                                <p class="dating-detail">
                                    <em class="dating-cost"></em>
                                    <span>费用：我买单</span>

                                </p>
                                <p class="dating-detail">
                                    <em class="dating-time"></em>
                                    <span>时间：周末</span>
                                </p>
                                <p class="dating-detail">
                                    <em class="dating-location"></em>
                                    <span>地点：湖北武汉</span>
                                </p>
                                <p class="dating-detail">
                                    <em class="dating-desc"></em>
                                    <span>描述：合适，主要合适。</span>
                                </p>
                                <div class="footer-text clearfix">
                                    <div class="media-info fl">
                                        <div class="dating-publish-date fl">
                                            <em></em>
                                            <span>12-15</span>
                                        </div>
                                        <div class="dating-publish-media fl">
                                            来自<a href="javascript:;">Android客户端</a>
                                        </div>
                                    </div>
                                    <div class="right-contact-btn profile-join-btn fr">
                                        <a class="" href="#">报名参加</a>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile-info-box hide">
                <div class="lover-desc-box">
                    <h2 class="label-text">交友要求</h2>
                    <!--<span class="js-edit-btn"><a class="a-icon-edit" href="javascript:;"></a></span>-->
                    <!--<span class="js-edit-btn hide"><a class="a-cancel-edit-text" href="javascript:;">取消编辑</a></span>-->
                    <div class="js-info-preview">我希望你在 <span class="keyword"
                                                             th:text="|${session.userInfo.province}${session.userInfo.city}|"></span>
                        ，年龄<span class="keyword" th:text="|${session.userInfo.age-1}-${session.userInfo.age+3}|"></span>之间
                        。以上并不是硬性要求，快来和我联系吧。
                    </div>
                    <div class="js-edit hide">
                        <p class="js-tips">
                            <span>修改交友要求将同步修改首页的搜索条件</span>
                            <em class="icon-close"></em>
                        </p>
                        <div class="form-row">
                            <label class="form-label">身高:</label>
                            <div class="form-control">
                                <select>
                                    <option value="">不限</option>
                                </select>
                                <span>到</span>
                                <select>
                                    <option value="">不限</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label">年龄:</label>
                            <div class="form-control">
                                <select>
                                    <option value="">不限</option>
                                </select>
                                <span>到</span>
                                <select>
                                    <option value="">不限</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label">学历:</label>
                            <div class="form-control">
                                <select class="js-education-select">
                                    <option value="">不限</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label">月收入:</label>
                            <div class="form-control">
                                <select>
                                    <option value="">不限</option>
                                </select>
                                <span>到</span>
                                <select>
                                    <option value="">不限</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label">居住在:</label>
                            <div class="form-control">
                                <select>
                                    <option value="">不限</option>
                                </select>
                                <span>到</span>
                                <select>
                                    <option value="">不限</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="form-label"></label>
                            <a class="general-btn red-button submit-btn" href="javascript:;">保存</a>
                        </div>
                    </div>

                </div>
                <div class="summary-info-box">
                    <div class="member-base-info">
                        <h2 class="label-text">基本资料</h2>
                        <span class="js-edit-btn"><a class="a-icon-edit" href="javascript:;"></a></span>
                        <span class="js-edit-btn hide"><a class="a-cancel-edit-text" href="javascript:;">取消编辑</a></span>
                        <div class="js-info-preview">
                            <p><span class="text-gray" th:text="|昵称:${session.userInfo.nickName}|"></span></p>
                            <p><span class="text-gray" th:text="我在寻找：恋人"></span></p>
                            <p><span class="text-gray" th:text="|性别：${session.userInfo.sex}|"></span></p>
                            <p><span class="text-gray" th:text="|年龄：${session.userInfo.age}|"></span></p>
                            <p><span class="text-gray" th:text="|身高：${session.userInfo.height}|"></span></p>
                            <p><span class="text-gray" th:text="|体重：${session.userInfo.weight}kg|"></span></p>
                            <p><span class="text-gray"
                                     th:text="|居住在：${session.userInfo.province}${session.userInfo.city}|"></span></p>
                            <p><span class="text-gray" th:text="|学历：${session.userInfo.edu}|"></span></p>
                            <p><span class="text-gray" th:text="目前职位：员工"></span></p>
                            <p><span class="text-gray" th:text="|月收入：${session.userInfo.salary}元|"></span></p>
                        </div>

                        <form action="/updateInfo" method="post">
                            <div class="js-edit hide">
                                <div class="form-row">
                                    <label class="form-label">用户名:</label>
                                    <div class="form-control">
                                        <input class="input-text single-column" type="text" name="userName"
                                               th:value="${session.userInfo.userName}" readonly="true">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label class="form-label">昵称:</label>
                                    <div class="form-control">
                                        <input class="input-text single-column" type="text" name="nickName"
                                               th:value="${session.userInfo.nickName}">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <label class="form-label">年龄:</label>
                                    <div class="form-control">
                                        <input class="input-text single-column" type="text" name="age"
                                               th:value="${session.userInfo.age}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label class="form-label">性别:</label>
                                        <div class="form-control">
                                            <input class="input-text single-column" type="text" name="sex"
                                                   th:value="${session.userInfo.sex}" maxlength="1">
                                        </div>

                                </div>

                                <div class="form-row">
                                    <label class="form-label">居住城市:</label>
                                    <div class="form-control">
                                        <input class="input-text single-column" type="text" name="city"
                                               th:value="${session.userInfo.city}">
                                    </div></div>
                                    <div class="form-row">
                                        <label class="form-label">居住省份:</label>
                                        <div class="form-control">
                                            <input class="input-text single-column" type="text" name="province"
                                                   th:value="${session.userInfo.province}">
                                        </div>
                                    </div>


                                <div class="form-row">
                                    <label class="form-label">身高:</label>
                                        <div class="form-control">
                                            <input class="input-text single-column" type="text" name="height"
                                                   th:value="${session.userInfo.height}">
                                        </div>
                                </div>
                                <div class="form-row">
                                    <label class="form-label">体重:</label>
                                    <div class="form-control">
                                        <input class="input-text single-column" type="text" name="weight"
                                               th:value="${session.userInfo.weight}">
                                    </div>
                                    <span>kg</span>
                                </div>
                                <div class="form-row">
                                    <label class="form-label">学历:</label>
                                    <div class="form-control">
                                        <input class="input-text single-column" type="text" name="edu"
                                               th:value="${session.userInfo.edu}">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <label class="form-label">月收入:</label>
                                    <div class="form-control">
                                        <div class="form-control">
                                            <input class="input-text single-column" type="text" name="salary"
                                                   th:value="${session.userInfo.salary}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label class="form-label">电话号码:</label>
                                    <div class="form-control">
                                        <div class="form-control">
                                            <input class="input-text single-column" type="text" name="telephone"
                                                   th:value="${session.userInfo.telephone}" maxlength="11">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label class="form-label"></label>
                                    <input class="general-btn red-button submit-btn" type="submit" value="保存"/>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="con-right fr">

            <div class="contact-us">
                <p class="top-text"><span>缘来有你相关</span></p>
                <ul class="main-info">
                    <li><span>新手上路：</span><a href="#">教你快速找到意中人</a></li>
                    <li><span>安全中心：</span><a href="#">网上交友如何防骗</a></li>
                    <li><span>花田帮助：</span><a href="#">常见反馈问题解答</a></li>
                    <li><span>联系客服：</span><a href="#">咨询客服</a><br/><span class="wrap-font">电话咨询 020-XXXXXXXX<br>( 工作日 10点 - 18点 )</span>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>
<div id="footer">
    <div class="w">
        <div class="bot">

            增值电信业务经营许可证：<a href="#">湘B2-XXXXXXXXX</a><br/>
            中南大学版权所有<br/>
            <i>©2020</i>
        </div>
    </div>
</div>

<!-- 模态框标签提示开始 -->
<div class="modal-layer hide tag-too-few-modal">
    <div class="main-box modal-layer-main-sm">
        <div class="title-row">
            <h3>我的标签</h3>
            <a class="icon-close" href="javascript:;"></a>
        </div>
        <div class="content">
            <div class="result-inner">
                <em></em>
                <div class="js-tips">
                    <p>很抱歉，你的资料过少无法提取标签</p>
                    <p>你需要继续<a href="javascript:;">回答QA</a>、或<a href="javascript:;">完善资料</a>。</p>
                </div>
            </div>
        </div>
        <div class="foot-row">
            <a class="general-btn red-button" href="javascript:;">知道了</a>
        </div>
    </div>
</div>
<!-- 模态框标签提示结束-->

<!-- 大学模态框开始 -->
<div class="modal-layer hide select-university">
    <div class="main-box modal-layer-main">
        <div class="title-row">
            <h3>选择毕业院校</h3>
            <a class="icon-close" href="javascript:;"></a>
        </div>
        <div class="js-body">
            <div class="poplayer-bd">
                <div class="poplayer-schoolbox-select">
                    <span class="select-label">请选择省市：</span>
                    <select class="js-select-province">
                        <option value="北京市">北京市</option>
                    </select>
                    <span class="select-label schoolbox-select-text">没有自己的学校？<a class="click-trigger js-switch-form"
                                                                                href="javascript:;">点击直接输入</a></span>
                    <span class="poplayer-schoolbox-select-form select-label hide">输入学校名称：
                            <input type="text" name="custom-university-name">
                            <a class="click-trigger js-form-submit" href="javascript:;">点击提交</a>
                        </span>
                </div>
                <div class="poplayer-schoolbox-list">
                    <ul class="js-list clearfix">
                        <li title="清华大学"><em class="square"></em><span>清华大学</span></li>
                        <li title="北京大学"><em class="square"></em><span>北京大学</span></li>
                        <li title="中国人民大学"><em class="square"></em><span>中国人民大学</span></li>
                        <li title="北京航空航天大学"><em class="square"></em><span>北京航空航天大学</span></li>
                        <li title="北京邮电大学"><em class="square"></em><span>北京邮电大学</span></li>
                        <li title="北京师范大学"><em class="square"></em><span>北京师范大学</span></li>
                        <li title="中国传媒大学"><em class="square"></em><span>中国传媒大学</span></li>
                        <li title="中国农业大学"><em class="square"></em><span>中国农业大学</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 大学模态框结束 -->

<!--&lt;!&ndash; 私信模态框开始 &ndash;&gt;-->
<!--<div class="modal-layer private-mess-box hide">-->
<!--<div class="main-box modal-layer-main-sm">-->
<!--<div class="title-row">-->
<!--<h3>发送私信</h3>-->
<!--<a class="icon-close" href="javascript:;"></a>-->
<!--</div>-->
<!--<div class="js-body">-->
<!--<div class="poplayer-bd">-->
<!--<p class="mess-tips-close">-->
<!--<span>提醒：请选择熟悉的环境见面，不要和任何人产生金钱往来，以防被骗。</span>-->
<!--</p>-->

<!--<div class="poplayer-send-message-addressee">-->
<!--<span class="fl">收件人：<i>心锁</i></span>-->
<!--<span class="fr"><a href="javascript:;">共2条对话</a></span>-->
<!--</div>-->

<!--<div class="publish-textarea">-->
<!--<textarea></textarea>-->
<!--</div>-->

<!--<div class="publish-operate">-->
<!--<em class="icon-face emotion-trigger" title="表情"></em>-->
<!--<label class="label-tag">-->
<!--<input class="js-set-top" type="checkbox">-->
<!--在她消息中心置顶(<a class="text-red" href="javascript:;">开通高级VIP会员</a>免费使用)-->
<!--</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="foot-row">-->
<!--<a class="general-btn red-button submit-red-button" href="javascript:;">发送</a>-->
<!--</div>-->

<!--<div class="emoji-layer">-->
<!--<div class="icon-winlayer-arrow-up"></div>-->
<!--<div class="title-row">-->
<!--<a class="icon-close" href="javascript:;"></a>-->
<!--</div>-->
<!--<div class="winlayer-emoji-list clearfix">-->
<!--<ul class="clearfix">-->
<!--<li><a data-code="[daizhi]" data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="../static/images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="../static/images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/peach/daizhi.png" alt="呆滞"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--<li><a data-code="[daizhi]" href="javascript:;" title="呆滞"><img src="images/emotion/emoji/Smiling_Face_With_Smiling_Eyes.png" alt="微笑"></a></li>-->
<!--</ul>-->
<!--<p class="emoji-select-tip text-gray">提示：按Ctrl可以一次多选表情</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- 私信模态框结束 -->

<!-- 送礼模态框开始 -->
<!--<div class="modal-layer send-gift hide">-->
<!--<div class="main-box">-->
<!--<div class="title-row">-->
<!--<h3>给<span class="to-gift-user">韩梦</span>送礼物</h3>-->
<!--<a class="icon-close" href="javascript:;"></a>-->
<!--</div>-->
<!--<div class="js-body">-->
<!--<div class="poplayer-bd">-->
<!--<div class="poplayer-gift-tips text-dark-gray clearfix">-->
<!--<span class="text-dark text-block fr">-->
<!--<em class="vip-open-icon"></em>-->
<!--<a class="vip-text" href="#">开通高级vip会员</a>，礼物全场5折-->
<!--</span>-->
<!--</div>-->
<!--<div class="arrow-area">-->
<!--<a class="poplayer-slider-prev prev-trigger disabled" href="javascript:;">-->
<!--<em class="poplayer-gift-slider-prev"></em>-->
<!--</a>-->
<!--<a class="poplayer-slider-next next-trigger" href="javascript:;">-->
<!--<em class="poplayer-gift-slider-next"></em>-->
<!--</a>-->
<!--</div>-->
<!--<div class="poplayer-slider-content">-->
<!--<div class="poplayer-gift-list-box">-->
<!--<ul class="gift-list-ul current fl clearfix">-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/chocolate.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/chocolate.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/chocolate.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/chocolate.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/chocolate.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/chocolate.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/chocolate.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/chocolate.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/chocolate.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/chocolate.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="gift-list-ul fl clearfix">-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/cat.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/cat.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/cat.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/cat.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/cat.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/cat.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/cat.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/cat.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/cat.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/cat.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="gift-list-ul fl clearfix">-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/yaodai.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/yaodai.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/yaodai.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/yaodai.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/yaodai.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/yaodai.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/yaodai.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/yaodai.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/yaodai.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="javascript:;">-->
<!--<div class="gift-img-box">-->
<!--<img src="images/gift/yaodai.png" alt="篮球">-->
<!--</div>-->
<!--<div class="gift-desc-box clearfix">-->
<!--<span>表达好感礼物</span>-->
<!--<em></em>-->
<!--</div>-->
<!--<div class="gift-name">巧克力</div>-->
<!--<div class="gift-price text-gray">免费</div>-->
<!--<div class="icon-vip-privilege"></div>-->
<!--<div class="icon-gift-selected hide"></div>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="foot-row">-->
<!--<a class="general-btn red-button" href="javascript:;">立即赠送</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- 送礼模态框结束 -->

</body>
</html>