<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dating.DAO.MessageDAO">

    <!-- 通过字段名字映射 -->
    <sql id="base_select">
        SELECT
        id                  AS id,
        user_name           AS userName,
        from_user_name      AS fromUserName,
        info                AS info,
        parent_id           AS parentId,
        parent_info         AS parentInfo,
        create_time         AS createTime
        FROM message
    </sql>

    <sql id="order_condition">
        order by create_time desc
    </sql>

    <!-- 查询条件 -->
    <sql id="where_condition">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="userName != null">
                AND user_name = #{userName}
            </if>
            <if test="fromUserName != null">
                AND from_user_name = #{fromUserName}
            </if>
            <if test="info != null">
                AND info = #{info}
            </if>
            <if test="parentId != null">
                AND parent_id = #{parentId}
            </if>
            <if test="parentInfo != null">
                AND parent_info = #{parentInfo}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
        </where>
    </sql>


    <!--插入条件-->
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="userName!=null">
                user_name,
            </if>
            <if test="fromUserName!=null">
                from_user_name,
            </if>
            <if test="info!=null ">
                info,
            </if>
            <if test="parentId!=null">
                parent_id,
            </if>
            <if test="parentInfo!=null ">
                parent_info,
            </if>
        </trim>
    </sql>

    <!--插入值-->
    <sql id="values">
        <trim suffixOverrides=",">
            <if test="userName!=null">
                #{userName},
            </if>
            <if test="fromUserName!=null">
                #{fromUserName},
            </if>
            <if test="info!=null ">
                #{info},
            </if>
            <if test="parentId!=null">
                #{parentId},
            </if>
            <if test="parentInfo!=null ">
                #{parentInfo},
            </if>
        </trim>
    </sql>

    <select id="getMessage" parameterType="java.lang.String" resultType="com.dating.pojo.MsgInfo">
        <include refid="base_select"/>
        <where>
            user_name = #{userName}
        </where>
        <include refid="order_condition"/>
    </select>

    <!-- 通过主键id更新 -->
    <update id="updateMessageByUserName" parameterType="com.dating.pojo.MsgInfo">
        UPDATE message
        <set>
            <if test="userName!=null">
                #{userName},
            </if>
            <if test="fromUserName!=null">
                #{fromUserName},
            </if>
            <if test="info!=null ">
                #{info},
            </if>
            <if test="parentId!=null">
                #{parentId},
            </if>
            <if test="parentInfo!=null ">
                #{parentInfo},
            </if>
        </set>
        WHERE user_name = #{userName}
    </update>

    <delete id="deleteMessage" parameterType="com.dating.pojo.MsgInfo">
        DELETE FROM message
        <where>
            <if test="userName != null">
                AND user_name = #{userName}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
        </where>
    </delete>

    <insert id="createMessage" parameterType="MsgInfo">
       INSERT INTO message(<include refid="key"/>)
       VALUE (<include refid="values"/>)
    </insert>

</mapper>